NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_NEIGHBORHOODS_GEOJSON_URL=
NEXT_PUBLIC_PARAIBA_GEOJSON_URL=
NEXT_PUBLIC_APP_WRITE_API_KEY=
NEXT_PUBLIC_APP_WRITE_STORAGE_ID=

NEXT_PUBLIC_APP_WRITE_PROJECT_ID=
NEXT_PUBLIC_DATABASE_ID=
NEXT_PUBLIC_COLLECTION_DEVICE=
NEXT_PUBLIC_COLLECTION_USER=
NEXT_PUBLIC_COLLECTION_CONTACTS=
NEXT_PUBLIC_COLLECTION_EVENTS=
NEXT_PUBLIC_COLLECTION_DISTRICT=
NEXT_PUBLIC_COLLECTION_OPERATORS=

NEXT_PUBLIC_MAPTILER_API_KEY=
NEXT_PUBLIC_GEOCODE_API_KEY=


GMAIL_USER=
GMAIL_APP_PASSWORD=


