# Base URL (IMPORTANTE: usar a URL da VM)
NEXT_PUBLIC_BASE_URL=

# Appwrite
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_WRITE_PROJECT_ID=
NEXT_PUBLIC_APP_WRITE_API_KEY=
NEXT_PUBLIC_APP_WRITE_STORAGE_ID=
NEXT_PUBLIC_DATABASE_ID=

# Colecoes
NEXT_PUBLIC_COLLECTION_DEVICE=
NEXT_PUBLIC_COLLECTION_USER=
NEXT_PUBLIC_COLLECTION_CONTACTS=
NEXT_PUBLIC_COLLECTION_EVENTS=
NEXT_PUBLIC_COLLECTION_DISTRICT=
NEXT_PUBLIC_COLLECTION_OPERATORS=
NEXT_PUBLIC_COLLECTION_NOTIFICATION=
NEXT_PUBLIC_COLLECTION_VERIFICATION_CODES=

# Gov.br
NEXT_PUBLIC_GOVBR_SSO_URL=
NEXT_PUBLIC_GOVBR_REALM=
NEXT_PUBLIC_GOVBR_CLIENT_ID=
NEXT_PUBLIC_GOVBR_CLIENT_SECRET=
NEXT_PUBLIC_GOVBR_REDIRECT_URI=

# GeoJSON URLs
NEXT_PUBLIC_NEIGHBORHOODS_GEOJSON_URL=
NEXT_PUBLIC_PARAIBA_GEOJSON_URL=

# APIs de Mapas
NEXT_PUBLIC_MAPTILER_API_KEY=
NEXT_PUBLIC_GEOCODE_API_KEY=
NEXT_PUBLIC_GOOGLE_API_KEY=
NEXT_PUBLIC_GOOGLE_MAP_SCRIPT=

# Email
NEXT_PUBLIC_GMAIL_USER=
NEXT_PUBLIC_GMAIL_APP_PASSWORD=

# Outros
NEXT_PUBLIC_API_KEY_IMEICHECK=
NEXT_PUBLIC_APK_DOWNLOAD_LINK=
NEXT_PUBLIC_NODE_ENV=


